@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600&display=swap");

.header {
  background: rgb(254, 254, 254);
  background: linear-gradient(
    0deg,
    rgba(254, 254, 254, 1) 0%,
    rgba(70, 129, 244, 1) 100%
  );
  padding-top: 20px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.navbar {
  width: 100%;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 100px auto 100px;
  margin: 0 0 30px 0;
}

.navbar .allmenu li {
  display: inline-block;
  margin-right: 20px;
}
.navbar ul li a {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}
.openningMenu{
  display: block;
  background: rgb(254, 254, 254);
  background: linear-gradient( 222deg, rgba(254, 254, 254, 1) -31%, rgba(70, 129, 244, 1) 100% );
  width: 150px;
  height: 180px;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  animation: 1s 1  slidein;
  z-index: 9;
  padding: 10px 20px;
  border: 1px solid #1e5edf;
  transition: 1s ease;
  overflow: hidden;
}
@keyframes slidein{
  0%{
    height: 0;
  }
  100%{
  height: 180px; 
  }
}

.closeD{
  background: rgb(254, 254, 254);
  background: linear-gradient( 222deg, rgba(254, 254, 254, 1) -31%, rgba(70, 129, 244, 1) 100% );
  width: 150px;
  height: 180px;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  z-index: 9;
  padding: 10px 20px;
  border: 1px solid #1e5edf;
  overflow: hidden;
  animation: 1s 1  slideout;
  margin-right: 0;
}
@keyframes slideout{
  0%{
    height: 180px;
  }
  100%{
  height: 0; 
  }
}

.navBtn {
  background: transparent;
  cursor: pointer;
  color: #ffffff;
  border: none;
  transition: 0.5s ease;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.navBtn:hover {
  color: #0a11ef;
}
.logo {
  width: 50px;
  height: auto;
  margin-top: -10px;
}
.menu .menuBtn {
  border: none;
  background-color: #333;
  cursor: pointer;
  background: transparent;
  display: none;
}

.menu img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #333;
  background-color: transparent;
  padding: 5px 10px;
}

.banner {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 500px;
  padding-bottom: 100px;
}

.left_content p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #333;
  margin: 30px 0;
}
.left_content h1 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 120%;
  color: #333;
}
.left_content .btn_letst {
  background: #4681f4;
  border-radius: 100px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 15px 40px;
  cursor: pointer;
  transition: 0.5s ease;
}
.left_content .btn_letst:hover {
  background-color: #1e5edf;
}

.right_content .person {
  margin-top: -120px;
  width: 540px;
  height: auto;
}
.closeBtn{
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 100%;
    margin:0;
  }

  .navbar .allmenu {
    display: none;
  }
  
  .navbar .allmenu li{
    display: block;
    margin: 5px 0;
  }
  
  .navbar .allmenu li a{
    font-size: 20px;
  }

  .menu .menuBtn {
    position: absolute;
    top: 30px;
    right: 10%;
    border: none;
    cursor: pointer;
    background: transparent;
    display: block;
  }

  .banner {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 300px;
    padding-bottom: 100px;
  }
  .left_content p{
    margin: 15px 0;
  }

  .right_content .person {
    margin-top: 0;
    width: 100%;
    height: auto;
  }
  
.closeBtn{
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: transparent;
  color: #333;
  cursor: pointer;
  border: none;
}
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
}
